/* * {
  background-color: #000;
} */
:root {
  background-color: #000;
}
#root {
  background-color: #000;
}
body {
  background-color: #000;
}
ul.vertical-navigation-bar {
  list-style: none;
  text-decoration: none;
}
ul.sub-navigation-bar {
  list-style: none;
  text-decoration: none;
}

ul.vertical-navigation-bar li svg {
  height: 24px;
}
ul.sub-navigation-bar li svg {
  height: 20px;
}
a {
  color: #000;
  text-decoration: none;
}

ul li a {
  color: #000;
  text-decoration: none;
  font-weight: 400;
}
ul li a:hover {
  color: #000;
  font-weight: 600;
  text-decoration: none;
}
